.prev {
    position: absolute;
    align-items: center;
    left: 15px;
    z-index: 1;
    display: flex;
    top: 0;
    bottom: 0;
    cursor: pointer;
}

.next {
    position: absolute;
    align-items: center;
    right: 15px;
    z-index: 1;
    display: flex;
    top: 0;
    bottom: 0;
    cursor: pointer;
}

.arrows {
    width: 100%;
}

@media (max-width: 991px) {

    img.arrows {
        width: 24px;

    }
}