.prev {
    position: absolute;
    top: 150px;
    align-items: center;
    left: 15px;
}
.next {
    position: absolute;
    top: 150px;
    align-items: center;
    right: 15px;
}
/* .leftArrow {
    position: absolute;
    top: 50%;

}

img.image__arrows {
    width: 100%;
    height: inherit;
} */
@media (max-width: 375px){
    
    img.image__arrows {
        width: 24px;
        height: 24px;
    }
}