.bannerAbout{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    overflow: hidden;
    width: 100%;
}

.bannerAbout img{
    object-fit: cover;
}
