h1 {
    position: absolute;
    font-size: 48px;
    font-weight: 500;
    z-index: 2;
    display: flex;
    justify-content: center;
    color: white;
    white-space: nowrap;
    font-style: normal;
    flex-wrap: wrap;
}

main {
    margin-right: 5%;
    margin-left: 5%;
}

@media (max-width: 991px) {

    h1 {
        font-size: 24px;
    }
}

