button.btn-slide.prev {
    position: absolute;
    z-index: 1;
    top: 300px;
    background-color: transparent;
    
}

button.btn-slide.next {
    position: absolute;
    z-index: 1;
    top: 300px;
    background-color: transparent;
    transform: rotate(180deg);
    
}