.card_cover {
    width: 100%;
    height: 100%;
}

img.card_cover {
    border-radius: 25px;
    object-fit: cover;
    opacity: 0.8;
}

.card_overlay {
    background: linear-gradient(transparent, rgba(0, 0, 0, .5));
    border-radius: inherit;
    height: 100%;
    position: relative;
    top: 0;
    width: 100%;
}

.card {
    width: 30%;
    margin: 1%;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    background: linear-gradient(transparent, rgb(0 0 0 / 91%));
    border-radius: 25px;
}

.banner::before {
    position: absolute;
    inset: 0;
    content: "";
    mix-blend-mode: darken;
    background: black;
    opacity: 0.3;
    z-index: 1;
}


@media (max-width: 375px) {

    .card {
        width: 90%;
        margin-bottom: 0;
    }

}

@media (max-width: 991px) {

    .card {
        width: 46%;
        margin-bottom: 0;
    }

}

@media (max-width: 614px) {

    .card {
        width: 100%;
        /* margin-bottom: 0; */
        /* margin: 3%; */
        margin-top: 25px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }

}