
.container {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}

.container__right {
    width: 14%;
}

.container__left {
    width: 90%;
}
.title__text {
    color: #FF6060;
    font-weight: 500;
    display: contents;
    line-height: 51px;
    font-size: 36px;
}

.location__text {
    color: #FF6060;
    display: contents;
    line-height: 51px;
}

.photo {
    width: 60px;
    height: 60px;
    background-color: grey;
    border-radius: 30px;
}

button {
    width: 115px;
    height: 25px;
    background-color: #FF6060;
    border-radius: 10px;
    color: white;
    border-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 38%;
}

p.tags{
    size: 14px;
    line-height: 10px;
}
