.hosting {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}

.host {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-end;
    justify-content: space-between;
}

.locations {
    width: 90%;
}

.title__text {
    color: #FF6060;
    font-weight: 500;
    display: contents;
    font-size: 24px;
    white-space: normal;
}

.location__text {
    color: #FF6060;
    display: contents;
    line-height: 51px;
}

.photo {
    width: 60px;
    height: 60px;
    background-color: grey;
    border-radius: 30px;
}

button {
    height: 25px;
    background-color: #FF6060;
    border-radius: 10px;
    color: white;
    border-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    display: flex;
    gap: 15px;
}

p.tags {
    size: 14px;
    line-height: 10px;
}

@media (max-width: 991px) {

    .hosting {
        display: block;
    }

    .host {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

}

@media (max-width: 578px) {
    .buttons__text {
        font-size: 11px;
    }
}


@media (max-width: 375px) {
    .tags {
        size: 12px;
    }

}