.dropDownGlobal {
    width: 80%;
    margin: 58px 10% 40px 10%;
}

.dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    line-height: 34px;
    font-weight: 400;
    font-size: 24px; 
    padding: 15px;
    padding-left: 0;
    padding-right: 0;

}

.dropdown__container {
    display: flex;
    justify-content: space-between;
    gap: 76px;
}

.dropdown__left {
    width: 50%;  
}

.dropdown__right {
    width: 50%;
}

.dropdown_close {
    height: 47px;
    width: 100%;
    border-radius: 5px;
    background: #FF6060;
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 0;
}

.vector {
    width: 14px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.vector.open {
    transform: rotate(180deg);
    transition: 0.2s;
}

.vector.closed {
    transition: 0.2s;
}

.dropdown.closed {
    display: none;
    
}

.dropdown.open {
    display: block;
    margin: 0;
    background-color: #f6f6f6;
}

.h4 {
    color: white;
}

.title {
    width: 100%;
}

.content {
    color: #FF6060;
    font-weight: 500;
    margin: 10px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.equipements {
    color: #FF6060;
    font-weight: 500;
    margin: 30px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    line-height: 1.9;
}

@media (max-width: 768px) {

    .dropdown__container {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .dropdown__left {
        width: 100%;
    }

    .dropdown__right {
        width: 100%;
    }
}

