.dropdownContainer{
    display:flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.dropdowncontent{
    width: 85%;
    background-color: #f6f6f6;
    line-height: 34px;
    font-weight: 400;
    font-size: 24px;
    
}
.dropdownContainer_close{
    height: 47px;
    width: 85%;
    border-radius: 5px;
    background: #FF6060;
    display: flex;
    align-items: center;
    padding: 20px;

}

img.vector{
    width: 14px;
    height: 24px; 
    
}

.vector.open{
    transform: rotate(180deg); 
    transition: 0.2s;
}
.vector.closed{
    transition: 0.2s;
}

.dropdowncontent.closed{
    display: none;
}

.dropdowncontent.open{
    display: block; 
}

.h4{
    color: white;
}

.title{
    width: 100%;
}
.vector{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 5%;
}
p{
    color: #FF6060;
    font-weight: 500;
    margin: 30px;
}
