.footer{
    background-color: black;
    height: 209px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0 30px 0;
}

.footer__img{
    width: 122px;
    height: 40px;
    margin: 20px;
}

.copyright{
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}

