.footer{
    background-color: black;
    height: 209px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__img{
    width: 122px;
    height: 40px;
    margin: 20px;
}

.copyright{
    text-align: center;
}

