.footer{
    background-color: black;
    height: 244px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer__img{
    width: 122px;
    height: 40px;
    margin: 20px;
}

h2{
    color: white;
    font-weight: 300;
}
.copyright{
    text-align: center;
}

