.gallery {
    background-color: #F6F6F6;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 20px;

}

@media (max-width: 1216) {
    .gallery {
        width: 100%;
    }

}

@media (max-width: 614px) {
    .gallery {
        background-color: white;
        justify-content: center;
        width: 100%;
        margin-top: 0;
    }

    .card {
        width: 100%;
    }

}