.hostProfile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.host_picture {
    border-radius: 50%;
    overflow: hidden;
    width: 64px;
    height: 64px;
}

p.host_name {
    color: #FF6060;
    font-weight: 500;
    font-size: 18px;
    max-width: min-content;
    margin-right: 20px;

}