.hostProfile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.host_name {
    color: #FF6060;
    font-weight: 500;
    font-size: 18px;
    max-width: min-content;
    margin-right: 5px;
}

.host__img {
    border-radius: 50%;
    width: 64px;
    height: 64px;
}

@media (max-width: 768px) {
    .host__img {

        width: 32px;
        height: 32px;
    }

    .host_name {

        font-size: 12px;

    }
}